@font-face {
    font-family: 'Manrope-Bold';
    src: local('Manrope-Bold'), url(./fonts/Manrope-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Manrope-Medium';
    src: local('Manrope-Medium'), url(./fonts/Manrope-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Manrope-Regular';
    src: local('Manrope-Regular'), url(./fonts/Manrope-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Manrope-Semibold';
    src: local('Manrope-Semibold'), url(./fonts/Manrope-Semibold.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter-Medium';
    src: local('Inter-Medium'), url(./fonts/Inter-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Archivo-Medium';
    src: local('Archivo-Medium'), url(./fonts/Archivo-Medium.ttf) format('truetype');
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    background-color: #141414;
}

.header {
    position: absolute;
    width: 100%;
}

.header__container {
    display: flex;
    margin: 0 auto;
    max-width: 1598px;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    max-height: 60px;
    max-width: 199px;
}

@media (min-width: 1920px) {
    .header__container {
        height: 120px;
    }

    .header__actions {
        column-gap: 30px;
    }

    .main-screen__body {
        /* margin-top: 796px; */
        width: 1096px;
    }
}

.menu {
    background-color: #0F0F0F;
    border: 4px solid #1F1F1F;
    border-radius: 12px;
}

.menu__container {
    margin: 10px;
}

.menu__btn {
    padding: 14px 24px;
    font-size: 18px;
    color: #BFBFBF;
    font-family: Manrope-Regular;
    background-color: #0F0F0F;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.menu__btn:hover {
    color: #FFFFFF;
    font-family: Manrope-Medium;
    background-color: #1A1A1A;
}

.header__actions {
    display: flex;
}






.main {
    flex: 1 1 auto;
}

.main__screen {
    height: 860px;
    /* width: 100%; */
    background-image: url(assets/images/main_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.main-screen__body {
    position: relative;
    top: 796px;
    margin: 0 auto;
    /* background-color: #1F1F1F; */
}

.main-body__title {
    margin: 0;
    line-height: 87px;
    text-align: center;
    font-family: Manrope-Bold;
    font-size: 58px;
    color: #FFFFFF;
}

.main-body__text {
    margin: 14px 0px 0px 0px;
    text-align: center;
    font-family: Manrope-Regular;
    font-size: 18px;
    color: #999999;
}

.main-body__btn {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    padding: 18px 24px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #E50000;
}

.main-body__btn span {
    font-family: Manrope-Semibold;
    font-size: 18px;
    color: #FFFFFF;
}





.main__container {
    position: relative;
    margin: 0 auto;
    top: 200px;
    max-width: 1598px;
}

.movie-list {
    background-color: #141414;
}

.movie-card__title {
    margin: 0;
    line-height: 50px;
    font-family: Manrope-Bold;
    font-size: 30px;
    color: #FFFFFF;
}






.footer {
    /* max-height: 505px; */
    /* width: 100%; */
    background-color: #0F0F0F;
}

.footer__container {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    max-width: 1596px;
}

.block__main {
    display: flex;
    column-gap: 30px;
}

.footer__nav {
    width: 241px;
}

.footer-nav__title {
    line-height: 30px;
    font-family: Manrope-Semibold;
    font-size: 20px;
    color: #FFFFFF;
}

.block__main a {
    text-decoration: none;
}

.block__main ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 24px;
    padding: 0;
    row-gap: 14px;
    list-style: none;
}

.block__main ul a {
    font-family: Manrope-Medium;
    font-size: 18px;
    color: #999999;
}

.footer__btns {
    display: flex;
    margin-top: 24px;
    column-gap: 14px;
}

.footer__btn {
    padding: 16px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #262626;
    background-color: #1A1A1A;
}

.block__info {
    display: flex;
    margin-top: 100px;
    font-family: Manrope-Regular;
    font-size: 18px;
    color: #999999;
    border-top: 1px solid #262626;
    align-items: center;
    justify-content: space-between;
}

.block__info span {
    margin-top: 24px;
}

.block-info__nav ul {
    display: flex;
    margin: 0;
    margin-top: 24px;
    column-gap: 20px;
    list-style: none;
}

.line {
    width: 1px;
    color: #262626;
}

.block-info__nav ul a {
    font-family: Manrope-Regular;
    font-size: 18px;
    color: #999999;
    text-decoration: none;
}







.slider{
    /*max-height: 835px;
    max-width: 1598px;*/
    height: 835px;
    width: 1598px;
    /*width: 1300px;
    max-width: 100vw;
    height: 700px;*/
    margin: auto;
    margin-top: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
    z-index: 1;
}

.item {
    position: relative;
/*    height: 835px;*/
    width: 1598px;
}

.item::before {
  content: '';
  z-index: 3;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: linear-gradient(0deg, rgba(20, 20, 20) 0%, rgba(0, 0, 0, 0) 100%);
}

.slide-img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 2;
}

.slide__info {
    position: absolute;
    top: 508px;
    left: 50px;
    width: 1498px;
    z-index: 3;
}

.slide__info h1 {
    text-align: center;
    font-size: 38px;
    color: #FFFFFF;
}

.slide__info p {
    text-align: center;
    font-size: 18px;
    color: #999999;
}

.slide-info__btns {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.btn-play {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #FFFFFF;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    background-color: #E50000;
}

.slide-info__btn {
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
    background-color: #0F0F0F;
}

/*.slider .buttons{
    position: absolute;
    top: 45%;
    left: 50px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}*/

/*.slider .buttons button{
    width: 56px;
    height: 56px;
    border-radius: 8px;
    background-color: #0F0F0F;
    border: 1px solid #1F1F1F;
}*/

.test {
    position: absolute;
    left: 50px;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 1498px;
    z-index: 3;
}

.slider .test button{
    width: 56px;
    height: 56px;
    border-radius: 8px;
    background-color: #0F0F0F;
    border: 1px solid #1F1F1F;
}

.slider .dots{
/*    bottom: 20px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;*/
    display: flex;
    justify-content: center;
}

.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #333333;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.slider .dots li.active{
    width: 30px;
    background-color: #E50000;
}