@font-face {
    font-family: 'Manrope-Bold';
    src: local('Manrope-Bold'), url(./fonts/Manrope-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Manrope-Medium';
    src: local('Manrope-Medium'), url(./fonts/Manrope-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Manrope-Regular';
    src: local('Manrope-Regular'), url(./fonts/Manrope-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Manrope-Semibold';
    src: local('Manrope-Semibold'), url(./fonts/Manrope-Semibold.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter-Medium';
    src: local('Inter-Medium'), url(./fonts/Inter-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Archivo-Medium';
    src: local('Archivo-Medium'), url(./fonts/Archivo-Medium.ttf) format('truetype');
}

body {
    margin: 0;
}

.wrapper {
    height: 100%;
    width: 100%;
    background-color: #141414;
}

.header {
    position: absolute;
    width: 100%;
}

.header__container {
    display: flex;
    margin: 0 auto;
    max-width: 1598px;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    max-height: 60px;
    max-width: 199px;
}

@media (min-width: 1920px) {
    .header__container {
        height: 120px;
    }

    .header__actions {
        column-gap: 30px;
    }

    .main-screen__body {
        /* margin-top: 796px; */
        width: 1096px;
    }
}

.menu {
    background-color: #0F0F0F;
    border: 4px solid #1F1F1F;
    border-radius: 12px;
}

.menu__container {
    margin: 10px;
}

.menu__btn {
    padding: 14px 24px;
    font-size: 18px;
    color: #BFBFBF;
    font-family: Manrope-Regular;
    background-color: #0F0F0F;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.menu__btn:hover {
    color: #FFFFFF;
    font-family: Manrope-Medium;
    background-color: #1A1A1A;
}

.header__actions {
    display: flex;
}






.main {
    flex: 1 1 auto;
}

.main__screen {
    height: 860px;
    /* width: 100%; */
    background-image: url(assets/images/main_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.main-screen__body {
    position: relative;
    top: 796px;
    margin: 0 auto;
    /* background-color: #1F1F1F; */
}

.main-body__title {
    margin: 0;
    line-height: 87px;
    text-align: center;
    font-family: Manrope-Bold;
    font-size: 58px;
    color: #FFFFFF;
}

.main-body__text {
    margin: 14px 0px 0px 0px;
    text-align: center;
    font-family: Manrope-Regular;
    font-size: 18px;
    color: #999999;
}

.main-body__btn {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    padding: 18px 24px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #E50000;
}

.main-body__btn img {
    /* max-height: 28px;
    max-width: 28px; */
}

.main-body__btn span {
    font-family: Manrope-Semibold;
    font-size: 18px;
    color: #FFFFFF;
}